html,
body {
   padding: 0;
	margin: 0;
   font-family: 'Alata', sans-serif;
   scroll-behavior: smooth;
}
* {
   box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.attribution {
   font-size: 11px;
   text-align: center;
   padding: 2rem 0 0em;
}
:root {
  --animate-duration: 5s;
  --animate-delay: 1s;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}
.StopScroll {
	height: 100%;
	overflow: hidden;
}
