html,
body {
   padding: 0;
	margin: 0;
   font-family: 'Alata', sans-serif;
   scroll-behavior: smooth;
}
* {
   box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.hidden {
   display: none; 
   pointer-events: none;
}
.ImageSize {
   width: 100%;
   height: 100%;
   max-width: fit-content;
}
.StopScroll {
   height: 100%;
   overflow: hidden;
}
#body_content {
   max-width: 1440px;
   margin: auto;
   background: url(../image/mobile/image-hero.jpg), url(../image/Black.jpg);
   background-size: contain, 90rem 34rem;
   background-repeat: no-repeat, no-repeat;
   background-position: center top, center bottom;
   padding: 2rem 1rem 0;
}
.BlackBg {
   background-color: #010101;
   background-size: 90rem 20rem;
   background-position: center bottom;
}
#header{
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 13rem;
}
.ImgLogo, .MenuBtn {
   height: min-content;
}
.MenuBtn {
   padding-top: 8px;
}
.attribution {
   font-size: 11px;
   text-align: center;
   padding: 2rem 0 0em;
}
:root {
  --animate-duration: 5s;
  --animate-delay: 1s;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}
.ImageSize {
   width: 100%;
   height: 100%;
   max-width: fit-content;
}
.StopScroll {
	height: 100%;
	overflow: hidden;
}
