html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Alata', sans-serif;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.hidden {
	display: none;
	pointer-events: none;
}
.ImageSize {
	width: 100%;
	height: 100%;
	max-width: fit-content;
}
.StopScroll {
	height: 100vh;
	overflow: hidden;
}
#body_content {
	width: 100%;
	max-width: 1440px;
	margin: auto;
	background: url(../image/mobile/image-hero.jpg), url(../image/Black.jpg);
	background-size: contain, 90rem 34rem;
	background-repeat: no-repeat, no-repeat;
	background-position: center top, center bottom;
	padding: 2rem 1rem 0;
	box-shadow: 0px 0px 400px 197px rgba(194, 25, 166, 0.49);
	-webkit-box-shadow: 0px 0px 400px 197px rgba(194, 25, 166, 0.49);
	-moz-box-shadow: 0px 0px 400px 197px rgba(194, 25, 166, 0.49);
}
.BlackBg {
	background-color: #010101;
	background-size: 90rem 20rem;
	background-position: center bottom;
}
#header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 13rem;
	max-width: 1110px;
	margin: auto;
}
.ImgLogo,
.MenuBtn {
	height: min-content;
}
.InfoList ul {
	display: none;
}
.MenuBtn {
	padding-top: 8px;
}
#main {
	width: 100%;
	max-width: 1110px;
	margin: auto;
}
#header_1 {
	border: 1px solid white;
	padding: 1rem;
	color: white;
	font-weight: 300;
	animation-name: example;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes example {
	0%,
	66.6% {
		top: 200px;
		position: relative;
		width: 60%;
		font-size: 24px;
		margin: auto;
	}
	33.3%,
	100% {
		position: relative;
		top: 0px;
		width: 100%;
		font-size: 44px;
		margin: auto;
	}
}
.Header_1 {
	max-width: 22rem;
}
.overview {
	opacity: 0;
	padding-top: 17rem;
	animation: fade-slide-in 0.3s ease-out forwards;
	height: 1rem;
}
.OverviewText {
	padding: 1rem 2rem;
	text-align: center;
}
.header_2 {
	padding: 1rem 0;
	font-size: 32px;
	font-weight: 300;
	color: #010101;
	text-align: center;
}
.ActionBtn.Desktop {
	display: none;
}
.LightText {
	font-size: 15px;
	color: #848484;
	line-height: 1.5rem;
}
#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
	pointer-events: none;
	display: none;
}
#backdrop.visible {
	display: block;
	pointer-events: all;
}
.CreationTextBox {
	padding: 3rem 0rem 1rem;
}
.CreationContent {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}
.Opacity {
	opacity: 1;
}
.TextContent,
.Animate {
	position: absolute;
	bottom: 15px;
	left: 15px;
	opacity: 0;
}
   .TextHoldder {
      position: absolute;
    bottom: 15px;
    left: 15px;
   }
.TextContent {
	animation: fade-text 32s ease-in infinite;
}
.Text_2 {
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
.Text_3 {
	animation-delay: 5s;
	animation-fill-mode: forwards;
}
.Text_4 {
	animation-delay: 9s;
	animation-fill-mode: forwards;
}
.Text_5 {
	animation-delay: 13s;
	animation-fill-mode: forwards;
}
.Text_6 {
	animation-delay: 17s;
	animation-fill-mode: forwards;
}
.Text_7 {
	animation-delay: 21s;
	animation-fill-mode: forwards;
}
.Text_8 {
	animation-delay: 25s;
	animation-fill-mode: forwards;
}
.Text_1 {
	animation-delay: 29s;
	animation-fill-mode: forwards;
}
@keyframes fade-text {
	0% {
		opacity: 1;
	}
	12.5%,
	100% {
		opacity: 0;
	}
}
.CreationImgBox {
	width: 100%;
	height: 8rem;
	background-size: cover;
	background-repeat: no-repeat;
	color: #e2e1e1;
	padding: 4rem 1rem 0;
	font-weight: 300;
	font-size: 20px;
}
.CreationImgBox:hover {
   cursor: pointer;
   opacity: 0.5;
}
.CreationBox {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}
.animate_easy {
	animation: easy 1s ease-in forwards;
}
.animate_ease_out {
	animation: easy 1s ease-in forwards reverse;
}
@keyframes easy {
	from {
		opacity: 30%;
		transform: scale(0.7);

	}
	to {
		opacity: 100%;
		transform: scale(1);
	}
}
.BgSlide {
	overflow: hidden;
	animation-name: test1, grow;
	animation-duration: 32s, 8s;
	animation-iteration-count: infinite, infinite;
}
@keyframes grow {
	0% {
		transform: scale(0.7);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.7);
	}
}
@keyframes test1 {
	0% {
		background-image: url(../image/mobile/image-deep-earth.jpg);
	}
	12.5% {
		background-image: url(../image/mobile/image-night-arcade.jpg);
   
	}
	25% {
		background-image: url(../image/mobile/image-soccer-team.jpg);
	}
	37.5% {
		background-image: url(../image/mobile/image-grid.jpg);
	}
	50% {
		background-image: url(../image/mobile/image-from-above.jpg);
	}
	62.5% {
		background-image: url(../image/mobile/image-pocket-borealis.jpg);
	}
	75% {
		background-image: url(../image/mobile/image-curiosity.jpg);
	}
	87.5% {
		background-image: url(../image/mobile/image-fisheye.jpg);
	}
	100% {
		background-image: url(../image/mobile/image-deep-earth.jpg);
	}
}
.bg1 {
	background-image: url(../image/mobile/image-deep-earth.jpg);
}
.bg2 {
	background-image: url(../image/mobile/image-night-arcade.jpg);
}
.bg3 {
	background-image: url(../image/mobile/image-soccer-team.jpg);
}
.bg4 {
	background-image: url(../image/mobile/image-grid.jpg);
}
.bg5 {
	background-image: url(../image/mobile/image-from-above.jpg);
}
.bg6 {
	background-image: url(../image/mobile/image-pocket-borealis.jpg);
}
.bg7 {
	background-image: url(../image/mobile/image-curiosity.jpg);
}
.bg8 {
	background-image: url(../image/mobile/image-fisheye.jpg);
}
.ActionBtn {
	padding: 2rem 0rem 6rem;
   text-align: center
}
.ActionText {
	border: 1px solid;
	margin: auto;
	padding: 0.8rem 1.5rem;
	text-align: center;
	max-width: 8rem;
	word-spacing: 3px;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: bold;
}
#footer {
	color: #e2e1e1;
	text-align: center;
	padding: 2rem 2rem 0;
	width: 100%;
	max-width: 1110px;
	margin: auto;
}
ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}
.FooterLogo {
	padding-bottom: 4rem;
}
.FooterIcon {
	display: flex;
	column-gap: 1rem;
	justify-content: center;
	padding: 4rem 0 1rem;
}
.FooterText {
	font-size: 14px;
	line-height: 1.5rem;
	color: #818181;
}
.Modal {
	position: absolute;
	z-index: 10;
	background: black;
	width: 85%;
	max-width: 370px;
	top: 0;
	right: 0%;
	padding: 2rem 1rem 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	display: none;
	overflow-x: hidden;
}
.Modal.visible {
	display: block;
	animation: fade-slide-in 0.8s ease-out forwards;
}
.Modal.invisible {
	display: block;
	animation: fade-slide-out 0.8s ease-out forwards;
}
.NavBarModal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ModalList {
	row-gap: 3rem;
	color: white;
	padding: 8rem 0;
	font-size: 1.5rem;
}
@keyframes fade-slide-in {
	from {
		opacity: 0;
		display: block;
		height: auto;
		width: 0;
		z-index: 100;
	}
	to {
		opacity: 100%;
		height: auto;
		width: 100%;
	}
}
@keyframes fade-slide-out {
	from {
		opacity: 100%;
		height: auto;
		width: 100%;
	}
	to {
		opacity: 0;
		height: auto;
		width: 0;
		z-index: -1;
	}
}
a,
#nav div :hover,
#close-btn:hover,
.ActionBtn:hover,
.FooterIcon div :hover,
li:hover {
	cursor: pointer;
}
.ActionText:hover {
   background:black;
   color: white;
   cursor: pointer;
}
.attribution {
	font-size: 11px;
	text-align: center;
	padding: 2rem 0 0em;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 425px) {
	#header {
		height: 15rem;
	}
	#header_1 {
		font-size: 51px;
	}
	.CreationImgBox {
		height: 10rem;
		padding: 5rem 1rem 0;
	}
}
@media screen and (min-width: 490px) {
	.overview {
		padding-top: 24rem;
	}
	#header_1 {
		font-size: 60px;
	}
	.CreationImgBox {
		height: 12rem;
		padding: 8rem 1rem 0;
	}
	.Header_1 {
		max-width: 26rem;
	}
	@keyframes example {
		0%,
		66.6% {
			top: 200px;
			position: relative;
			width: 60%;
			font-size: 34px;
			margin: auto;
		}
		33.3%,
		100% {
			position: relative;
			top: 0px;
			width: 100%;
			font-size: 54px;
			margin: auto;
		}
	}
}
@media screen and (min-width: 768px) {
	#body_content {
		background: url(../image/desktop/image-hero.jpg), url(../image/Black.jpg);
		background-size: contain, 90rem 10rem;
		background-repeat: no-repeat, no-repeat;
		background-position: center top, center bottom;
		padding: 2rem 2rem 0;
		width: 768px;
	}
	#header {
		height: 5.5rem;
	}
	.InfoList ul {
		display: flex;
		list-style: none;
		flex-direction: row;
		column-gap: 1.5rem;
		color: white;
	}
	.MenuBtn {
		display: none;
	}
	#nav {
		padding: 0.5rem;
		font-size: 14px;
	}
	.Header_1 {
		max-width: 25rem;
	}
	@keyframes example {
		0% {
			left: 300px;
			position: relative;
			width: 60%;
			font-size: 24px;
			margin: auto;
		}
		33.3% {
			position: relative;
			left: 0px;
			width: 100%;
			font-size: 44px;
			margin: auto;
		}
		66.6% {
			left: 100px;
			position: relative;
			width: 60%;
			font-size: 24px;
			margin: auto;
		}
		100% {
			position: relative;
			left: 0px;
			width: 100%;
			font-size: 44px;
			margin: auto;
		}
	}
	.overview {
		padding-top: 5rem;
		display: flex;
	}
	.ImgHero {
		z-index: -1;
	}
	.ImageSize.auto {
		height: auto;
	}
	.OverviewText {
		max-width: 23rem;
		width: 100%;
		margin-left: -5rem;
		padding: 4.5rem 0rem 0rem;
	}
	.header_2 {
		background: white;
		padding: 3rem 0rem 0rem;
	}
	.LightText {
		padding: 1rem 0 0 3rem;
		background: white;
		line-height: 1rem;
		text-align: start;
		font-size: 12px;
	}
	.CreationTextBox {
		    display: flex;
    align-items: center;
    justify-content: space-between;
	}
	.ActionBtn.Desktop {
		display: block;
		padding: 3rem 0 0;
		width: 100%;
		max-width: 8rem;
	}
	.ActionBtn.Mobile {
		display: none;
	}
	.CreationBox {
		display: flex;
		flex-direction: row;
		column-gap: 1.5rem;
	}
	.CreationContent {
		padding-bottom: 9rem;
	}
	@keyframes test1 {
		0% {
			background-image: url(../image/desktop/image-deep-earth.jpg);
		}
		50% {
			background-image: url(../image/desktop/image-from-above.jpg);
		}
		100% {
			background-image: url(../image/desktop/image-deep-earth.jpg);
		}
	}
	@keyframes test2 {
		0% {
			background-image: url(../image/desktop/image-night-arcade.jpg);
		}
		50% {
			background-image: url(../image/desktop/image-pocket-borealis.jpg);
		}
		100% {
			background-image: url(../image/desktop/image-night-arcade.jpg);
		}
	}
	@keyframes test3 {
		0% {
			background-image: url(../image/desktop/image-soccer-team.jpg);
		}
		50% {
			background-image: url(../image/desktop/image-curiosity.jpg);
		}
		100% {
			background-image: url(../image/desktop/image-soccer-team.jpg);
		}
	}
	@keyframes test4 {
		0% {
			background-image: url(../image/desktop/image-grid.jpg);
		}
		50% {
			background-image: url(../image/desktop/image-fisheye.jpg);
		}
		100% {
			background-image: url(../image/desktop/image-grid.jpg);
		}
	}
	.Animate {
		animation: desktop-fade 10s ease-in infinite;
	}
	@keyframes desktop-fade {
		0% {
			opacity: 1;
		}
		50%,
		100% {
			opacity: 0;
		}
	}
	.BgSlide {
		display: none;
	}
	.BG1,
	.BG2,
	.BG3,
	.BG4 {
		animation-delay: 7s;
		animation-fill-mode: forwards;
	}
	.BG5,
	.BG6,
	.BG7,
	.BG8 {
		animation-delay: 2s;
		animation-fill-mode: forwards;
	}
	.bg1,
	.bg5 {
		animation-name: test1, grow;
		animation-duration: 10s, 10s;
		animation-iteration-count: infinite;
	}
	.bg2,
	.bg6 {
		animation-name: test2, grow;
		animation-duration: 10s, 10s;
		animation-iteration-count: infinite;
	}
      .bg3, .bg7 {
         animation-name: test3, grow;
         animation-duration: 10s, 10s; 
         animation-iteration-count: infinite;
      }
      .bg4, .bg8 {
         animation-name: test4, grow;
         animation-duration: 10s, 10s; 
         animation-iteration-count: infinite;
      }
      .CreationImgBox {
         height: 15rem;
         padding: 11rem 1rem 0;
      }
      #footer {
         padding: 2rem 0rem 0;
      }
      .FooterIcon {
         justify-content: flex-end;
         padding: 0rem 0 1.2rem;
         font-size: 12px;
      }
   .FooterContent {
      display: flex;
      justify-content: space-between;
   }
   .FooterBox{
      text-align: start;
   }
   .FooterLogo {
      padding-bottom: 1rem;
   }
   ul{
   flex-direction: row;
   column-gap: 2rem;
   font-size: 12px;
   }
   
}

@media screen  and (min-width:1024px) {
   #body_content{
      width: 1024px;
   }
   #nav {
      font-size: 16px;
   }
   #header {
      height: 8.5rem;
   }
   .Header_1 {
      max-width: 32rem;
   }
   @keyframes example {
      0% {
         left: 300px;
         position: relative;
         width: 60%;
         font-size: 34px;
         margin:auto;
      }
      50% {
         position: relative;
         left: 0px;
         width: 100%;
         font-size: 54px;
         margin:auto;
      }
      75% {
         left: 100px;
         position: relative;
         width: 60%;
         font-size: 34px;
         margin:auto;
      }
      100% {
         position: relative;
         left: 0px;
         width: 100%;
         font-size: 54px;
         margin:auto;
      }
   }
   .header_2 {
      padding: 4rem 0rem 0rem;
   }
   .OverviewText {
      max-width: 33rem;
      margin-left: -13rem;
      padding: 9.6rem 0rem 0rem 6rem;
   }
   .overview {
      padding-top: 10rem; 
   }
   #body_content {
      padding: 2rem 5rem 0;
   }
   .LightText {
      padding: 1rem 0 0 5rem;
   }
   .CreationImgBox {
      height: 20rem;
      padding: 16rem 1rem 0;
   }
   ul {
      font-size: 16px;
   }
}
@media screen and (min-width: 1040px){
   #body_content {
      width: 1040px
   }
   .OverviewText {
      max-width: 26rem;
      padding: 16rem 0rem 0rem;
   }
}
@media screen and (min-width: 1440px) {
   #body_content {
      background-size: 1440px 650px, 90rem 10rem;
      width: 1440px;
   }
   #header {
      height: 13rem;
   }
   .Header_1 {
      max-width: 40rem;
   }
   .overview {
      padding-top: 16rem;
   }
   @keyframes example {
      0% {
         left: 300px;
         position: relative;
         width: 60%;
         font-size: 44px;
         margin:auto;
      }
      50% {
         position: relative;
         left: 0px;
         width: 100%;
         font-size: 64px;
         margin:auto;
      }
      75% {
         left: 100px;
         position: relative;
         width: 60%;
         font-size: 44px;
         margin:auto;
      }
      100% {
         position: relative;
         left: 0px;
         width: 100%;
         font-size: 64px;
         margin:auto;
      }
   }
   .header_2 {
      padding: 4rem 0rem 0rem;
   }
   .LightText {
      font-size: 16px;
      line-height: 1.5rem;
   }
   .OverviewText {
      max-width: 39rem;
      padding: 14.5rem 0rem 0rem 6rem;
   }
   .OverviewText h2 {
      padding: 4rem 3rem 0rem;
   }
   .CreationImgBox {
      height: 28rem;
      padding: 24rem 1rem 0;
   }
}